@font-face {
    font-family: 'Maison_Neue_Bold';
    src: url('../../public/fonts/Maison_Neue_Bold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
  
@font-face {
    font-family: 'Maison_Neue_Book';
    src: url('../../public/fonts/Maison_Neue_Book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maison_Neue_Light';
    src: url('../../public/fonts/Maison_Neue_Light.ttf') format('ttf');
    font-style: normal;
}
  
@font-face {
    font-family: 'Maison_Neue_Mono';
    src: url('../../public/fonts/Maison_Neue_Mono.ttf') format('ttf');
    font-style: normal;
}
