.searchCtn {
    width: 100%;
    margin: 0 auto;

    .searchBarCtn{
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px solid #dddbdc;
      display: flex;
      justify-content: center;
      align-items: center;

      .inputSearch{
        max-width: 678px;
        width: 100%;
        padding: 16px;
        outline: none;
        background-color: #F5F4F4;
        border-radius: 4px;
        color: #737373;
        border: none;
      }

      .searchButton{
        width: 70px;
        padding: 16px;
        outline: none;
        border: none;
        background-color: transparent;
        color: #737373;
        cursor: pointer;
      }
    }
}