.aboutUsContainer {
    width: 100%;
  
    .section1 {
      width: 100%;
      background-size: cover; 
      aspect-ratio: 1400 / 691; 
      background: url('../../../public/about-us/section1.png') no-repeat center center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .textCtn {
        max-width: 488px;
        width: 100%;
        margin: 0 auto;
        color: white; 
        text-align: center;

        .header{
            font-size: 70px;
            line-height: 84px;
        }

        .text{
            font-size: 24px;
            line-height: 33px;
        }
      }
    }

    .section2{
        width: 100%;

        .textCtn{
            max-width: 884px;
            width: 100%;
            margin: 0 auto;
            padding: 76px 0;

            .text{
                font-size: 38px;
                line-height: 53px;
                text-align: center; 
            }
        }
    }

    .section3{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #E6DED8;

        .leftCtn{
            width: 100%;
            background-size: cover; 
            aspect-ratio: 700 / 733; 
            background: url('../../../public/about-us/img1.png') no-repeat center center;
            background-size: cover;
        }

        .rightCtn{
            width: 100%;
            display: flex;
            justify-content: center;

            .textCtn{
                max-width: 560px;
                width: 100%;

                .subHeader{
                    font-size: 12px;
                    line-height: 16px;
                }

                .header{
                    font-size: 40px;
                    line-height: 48px;
                }

                .text{
                    font-size: 16px;
                    line-height: 18px;
                    margin-top: 20px;
                }
            }
        }
    }
  }